@page "/"
@using System.Timers

<PageTitle>Ground Control</PageTitle>

<h1 style="color: lightblue;">Ground Control</h1>
<RadzenButton Text="STOP" Click="@onClick"></RadzenButton>

<RadzenRow class="rz-text-align-center rz-border-info-light" Gap="1rem">
    <RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-info rz-p-5">
        <p>Luftdruck (hPa)</p>
        <RadzenChart @ref="testChart">
            <RadzenLineSeries Data="@testData" ValueProperty="Value" CategoryProperty="Seconds"
                LineType="LineType.Dashed" Smooth="true">
                <RadzenMarkers MarkerType="MarkerType.Square" />
                <RadzenSeriesDataLabels Visible="false" />
            </RadzenLineSeries>
        </RadzenChart>
    </RadzenColumn>
    <RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-info rz-p-5">
        <p>Temperatur (°C)</p>
    </RadzenColumn>
    <RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-info rz-p-5">
        <p>H&ouml;he &uuml;ber Boden (m)</p>
    </RadzenColumn>
    <RadzenColumn Size="6" class="rz-background-color-info-lighter rz-color-info rz-p-5">
        <p>Aufstiegsgeschwindigkeit (km/h)</p>
    </RadzenColumn>
</RadzenRow>

<p style="color: lightblue;">
Countdown: @countDown
(@counting)
- testdatalist: @foreach (var testD in testData)
{
    <span>[ @testD.Seconds :&nbsp; @testD.Value ]&nbsp;</span>
}
</p>

@code {
    int counting = 0;
    RadzenChart testChart;
    DateTime countDown = DateTime.Now;
    FlightDataItem[] testData = new FlightDataItem[3];

    public Index()
    {
        testData[0] = new FlightDataItem { Seconds = 1, Value = 4.0 };
        testData[1] = new FlightDataItem { Seconds = 2, Value = 8.0 };
        testData[2] = new FlightDataItem { Seconds = 3, Value = 10.0 };
    }

    int sec = 3;
    double val = 10.0;

    private Timer t;

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender){
            t = new Timer();
            t.Interval = 500;
            t.Elapsed += MyMethod;
            t.AutoReset = true;
            t.Enabled = true;
        }
        base.OnAfterRender(firstRender);
    }

    private void MyMethod(object sender, ElapsedEventArgs evt){
            while (sec < 10)
            {
                sec++;
                val += new Random().Next(10);
                testData[2].Seconds = sec;
                testData[2].Value = val;

                testChart.Reload();
                testChart.Visible = true;

            }

            counting++;
            countDown = DateTime.Now;
            InvokeAsync(() => StateHasChanged());

    }

    public void Dispose()
    {
        t?.Dispose();
    }

    void onClick()
    {

    }
}

