@inherits LayoutComponentBase

<PageTitle>GroundControl</PageTitle>

<div class="page" style="background-color: black;">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
